################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Autosave files
*~
.DS_Store
*.jfm
*.dbmdl
# build
[Oo]bj/
[Bb]in/
packages/
TestResults/

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db
.vs/

# Mac bundle stuff
*.dmg
*.app

# resharper
*_Resharper.*
*.Resharper

# dotCover
*.dotCover

/code/.vs/CustomerA-Cloud/DesignTimeBuild/.dtbcache
/code/.vs/CustomerA-Cloud/v15/.suo
/code/CustomerA-Cloud/Data/DataCatalog
/code/CustomerA-Cloud/bin
/code/.vs/
/.vs/ProjectSettings.json

/.vs
/code/CustomerA-Cloud/.vs
/code/CustomerA-Cloud/Scripts/DataFactory
/code/CustomerA-Cloud/Scripts/RecoveryServices/AzureBackup/Backup-VMRecoveryServicesVault.ps1
/code/CustomerA-Cloud/Scripts/ServicePrincipals/Backup-VMRecoveryServicesVault.ps1
/code/CustomerA-Cloud/Scripts/ServicePrincipals/Retreve-DataFactoryServicePrincipal.ps1
/code/CustomerA-Cloud/Templates/VMs/RecoveryServices/recoveryService.json
code/CustomerA-Cloud/Scripts/SAPHANA/sap_config.retry
code/CustomerA-Cloud/Scripts/Kubernetes/credentials-velero
