apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
 name: cluster-admins
roleRef:
 apiGroup: rbac.authorization.k8s.io
 kind: ClusterRole
 name: cluster-admin
subjects:
- kind: Group
  name: d287b692-e7b0-4d58-8b8f-201941ff570c
  apiGroup: rbac.authorization.k8s.io
- kind: Group
  name: 9b219083-1256-48c0-aa24-f4634eee75d6
  apiGroup: rbac.authorization.k8s.io
- kind: Group
  name: 9c571fec-498a-4e08-bf7a-1998953428c9
  apiGroup: rbac.authorization.k8s.io