#
# ansible-playbook -i /usr/local/scripts/LDAP_Setup/inventory /usr/local/scripts/LDAP_Setup/client_config.yml
---
- hosts: all
  remote_user: root
  gather_facts: yes
  tasks:

    - name: Refreshing YUM repo
      shell: yum clean all

    - name: Installting Require Packges
      yum: name={{ item }} state=present skip_broken=yes
      with_items:
        - "sssd "
        - "sssd-client" 
        - "sssd-tools"
        - "openldap-clients"
        - "policycoreutils-python"
        - "autofs"
        - "authconfig"
                
    - name: Take the backup copy of authconfig and pasword-auth-ac
      shell: authconfig --savebackup=/root/authconfig-bk-$(date +%F)

    - name: Enable mkhomedir sssdauth sssd  
      shell: authconfig --enablesssd --enablesssdauth --enablemkhomedir --update

    - name: Take the backup copy of password-ath-ac
      shell: cp -pv /etc/pam.d/password-auth-ac /etc/pam.d/password-auth-ac.bak-$(date +%F)
        
    - name: Copying require file(s)  to Destination servers
      copy: src={{ item.src }} dest={{ item.dest }} backup=yes force=yes
      with_items:
        - { src: ./config/password-auth-ac, dest: /etc/pam.d/}
        - { src: ./config/sssd.conf, dest: /etc/sssd/}     
        - { src: ./config/auto.master, dest: /etc/}

    - name: Changing sssd.conf permission
      file: path=/etc/sssd/sssd.conf mode=0600

    - name: Touch /etc/auto.direct if not exist
      file:
        path: /etc/auto.direct
        state: touch

    - name: Updating auto.direct file
      lineinfile:
        path: /etc/auto.direct
        state: present
        line: '/usr/home/ -rw,soft,timeo=5,intr us-smy-nas2:/Linux_home'


    - name: Updating sudoers file
      lineinfile: 
        path: /etc/sudoers
        state: present
        line: '%u-CUST-A\ am-unix\ admins  ALL=(ALL) NOPASSWD: ALL' 
        validate: '/usr/sbin/visudo -cf %s'

    - name: "Restarting autofs "
      systemd: name=autofs state=restarted enabled=yes
   #   when: ansible_os_family == "RedHat" and ansible_distribution_major_version == "6"

    - name: "Restarting SSSD "
      systemd: name=sssd state=restarted enabled=yes
    #  when: ansible_os_family == "RedHat" and ansible_distribution_major_version == "6"
