################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Autosave files
*~
.DS_Store
*.jfm
*.dbmdl
# build
[Oo]bj/
[Bb]in/
packages/
TestResults/

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db
.vs/

# Mac bundle stuff
*.dmg
*.app

# resharper
*_Resharper.*
*.Resharper

# dotCover
*.dotCover

/code/.vs/esteecloud/DesignTimeBuild/.dtbcache
/code/.vs/esteecloud/v15/.suo
/code/EsteeCloud/Data/DataCatalog
/code/EsteeCloud/bin
/code/.vs/
/.vs/ProjectSettings.json

/.vs
/code/EsteeCloud/.vs
/code/EsteeCloud/Scripts/DataFactory
/code/EsteeCloud/Scripts/RecoveryServices/AzureBackup/Backup-VMRecoveryServicesVault.ps1
/code/EsteeCloud/Scripts/ServicePrincipals/Backup-VMRecoveryServicesVault.ps1
/code/EsteeCloud/Scripts/ServicePrincipals/Retreve-DataFactoryServicePrincipal.ps1
/code/EsteeCloud/Templates/VMs/RecoveryServices/recoveryService.json
code/EsteeCloud/Scripts/SAPHANA/sap_config.retry
code/EsteeCloud/Scripts/Kubernetes/credentials-velero
