#
# ansible-playbook -i ./inventory.yml ./client_config.yml
---
- hosts: all
  remote_user: root
  gather_facts: yes
  tasks:

  - name: Copying require file(s)  to Destination servers
    copy: src={{ item.src }} dest={{ item.dest }} backup=yes force=yes
    with_items:
      - { src: ./password-auth-ac, dest: /etc/pam.d/}
      - { src: ./sssd.conf, dest: /etc/sssd/}     
      - { src: ./auto.master, dest: /etc/}
      - { src: ./auto.direct, dest: /etc/}
      - { src: ./sysctl.conf, dest: /etc/}
      - { src: ./limits.conf, dest: /etc/security/ }
      - { src: ./resolv.conf, dest: /etc/}
      - { src: ./NetworkManager.conf, dest: /etc/NetworkManager/ }
      - { src: ./waagent.conf, dest: /etc/ }
      - { src: ./grub.default, dest: /etc/default/grub }
  
  - name: Update grub bootloader
    shell: grub2-mkconfig -o /boot/grub2/grub.cfg

  - name: Updating sudoers file
    blockinfile:  
      path: /etc/sudoers
      state: present
      block: |
        sapadmusr     ALL =(ALL) NOPASSWD: ALL
        %elcbasis     ALL =(ALL) NOPASSWD: ALL
        %sapbasis     ALL =(ALL) NOPASSWD: ORACLESUDO
        Cmnd_Alias ORACLESUDO = /bin/su - orasid,/bin/su - sidadm,/bin/su - oracle
        %sutemp       ALL =(ALL) NOPASSWD: ALL
        ##AD Group Unix
        %u-CUST-A\ am-unix\ admins ALL=(ALL)       NOPASSWD: ALL
        #SAP Basis Group
        %u-CUST-A\ am-unix\ access\ basis  ALL=(ALL) NOPASSWD: ALL
        #%u-CUST-A\ am-unix\ access\ basis  ALL=(ALL) NOPASSWD: ORACLESUDO

  - name: Changing sssd.conf permission
    file: path=/etc/sssd/sssd.conf mode=0600      
  
  - name: "Restarting autofs "
    systemd: name=autofs state=restarted enabled=yes
   #   when: ansible_os_family == "RedHat" and ansible_distribution_major_version == "6"

  - name: "Restarting SSSD "
    systemd: name=sssd state=restarted enabled=yes
    #  when: ansible_os_family == "RedHat" and ansible_distribution_major_version == "6"
  - name: Init drive
    shell: cd /sapbasis && ls -la

  - name: Install SAP base software
    shell: /sapbasis/SAP_HOST_AGENT/OSS_NOTE_1473974_AUTO_UPGRADE/SAPCAR_LINUX -xvf /sapbasis/SAP_HOST_AGENT/OSS_NOTE_1473974_AUTO_UPGRADE/LINUX/SAPHOSTAGENT41_41-20009394.SAR -R /usr/sap/tmp/
  
  - name: Change directories
    shell: cd /usr/sap/tmp/

  - name: Install saphostexec
    shell: /usr/sap/tmp/saphostexec -install